<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="dual_camera">
  <!-- include single_camera model -->
  <xacro:include filename="$(find quad_sim)/camera_sensor/dual_camera/single_cam.xacro"/>

	<!--xacro:cam id="1">
	</xacro:cam-->
	<xacro:cam id="2">
	</xacro:cam>
</robot>
