<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Simulink Gazebo Plugin -->
  <xacro:macro name="GazeboPlugin">
    <gazebo reference="frame_link">>
      <plugin name="GazeboPlugin" filename="lib/libGazeboCoSimPlugin.so">
        <portNumber>14581</portNumber>
        <alwaysOn>true</alwaysOn>
       </plugin>
    </gazebo>
  </xacro:macro>
</robot>
