<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadcopter">
  <!--Include Frame, Rotor, and Marker model -->
  <xacro:include filename="$(find quad_sim)/quadcopter/urdf/base/frame.xacro"/>
  <xacro:include filename="$(find quad_sim)/quadcopter/urdf/base/rotor.xacro"/>
  <xacro:include filename="$(find quad_sim)/quadcopter/urdf/base/marker.xacro"/>

	<!-- Quadcopter Description -->
	<xacro:macro name="quad_base_macro">
  <xacro:frame/>
  

  <!--Rotors-->
  <xacro:rotor id="1">
  </xacro:rotor>

  <xacro:rotor id="2">
  </xacro:rotor>

  <xacro:rotor id="3">
  </xacro:rotor>

  <xacro:rotor id="4">
  </xacro:rotor>
  
  <!--Markers-->
  <xacro:marker id="1" color="Red">
  </xacro:marker>

  <xacro:marker id="2" color="Green">
  </xacro:marker>

  <xacro:marker id="3" color="Blue">
  </xacro:marker>

  <xacro:marker id="4" color="Yellow">
  </xacro:marker>

 <!--Rotor's Joints-->
 <joint name="rotor1_joint" type="fixed">
    <origin xyz="0.205 0.205 0.03" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="rotor1_link"/>
  </joint>

  <joint name="rotor2_joint" type="fixed">
    <origin xyz="-0.205 0.205 0.03" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="rotor2_link"/>
  </joint>

  <joint name="rotor3_joint" type="fixed">
    <origin xyz="-0.205 -0.205 0.03" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="rotor3_link"/>
  </joint>

  <joint name="rotor4_joint" type="fixed">
    <origin xyz="0.205 -0.205 0.03" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="rotor4_link"/>
  </joint>

  <!--Marker's Joints-->
  <joint name="marker1_joint" type="fixed">
    <origin xyz="0.205 0.205 0.06" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="marker1_link"/>
  </joint>

  <joint name="marker2_joint" type="fixed">
    <origin xyz="-0.205 0.205 0.06" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="marker2_link"/>
  </joint>

  <joint name="marker3_joint" type="fixed">
    <origin xyz="-0.205 -0.205 0.06" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="marker3_link"/>
  </joint>

  <joint name="marker4_joint" type="fixed">
    <origin xyz="0.205 -0.205 0.06" rpy="0 0 0"/>
    <parent link="frame_link"/>
    <child link="marker4_link"/>
  </joint>

  </xacro:macro>
</robot>
