<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
<xacro:macro name="cam_plugin">

<gazebo>
			<plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <update_rate>30.0</update_rate>
        <visualize>true</visualize>
	  		<cameraName>camera1</cameraName>
				<imageTopicName>image_raw</imageTopicName>
				<cameraInfoTopicName>camera_info</cameraInfoTopicName>
				<frameName>cam_link</frameName>
				<hackBaseline>0.0</hackBaseline>
				<distortionK1>0.0</distortionK1>
				<distortionK2>0.0</distortionK2>
				<distortionK3>0.0</distortionK3>
				<distortionT1>0.0</distortionT1>
				<distortionT2>0.0</distortionT2>
			</plugin>
</gazebo>

</xacro:macro>
</robot>
